Package: fpc-src
Version: FPCVERSION
Section: devel
Priority: optional
Maintainer: Mattias Gaertner <mattias@freepascal.org>
Architecture: ARCH
Replaces: fpc-source, fpc-source-FPCVERSION
Conflicts: fpc-source, fpc-source-FPCVERSION
Installed-Size: DEBSIZE
Description: Free Pascal Sources
 The Free Pascal Compiler is a Delphi and Turbo Pascal 7.0 compatible
 32/64bit Object Pascal Compiler. It comes with a huge run-time library.
 Shared libraries can be linked and created.
 This package contains the sources for the compiler, the rtl, fcl and packages.

