//*****************************************************
// Resource file necessary for menu support
//*****************************************************

STRINGTABLE
MOVEABLE PURE LOADONCALL DISCARDABLE
//LANGUAGE LANG_ENGLISH, 1
BEGIN
  102,  " "
  103,  " "
  104,  " "
END

STRINGTABLE
MOVEABLE PURE LOADONCALL DISCARDABLE
//LANGUAGE LANG_ENGLISH, 1
BEGIN
  40037,  " "
END

// 2 menu items
101 MENU
MOVEABLE PURE LOADONCALL DISCARDABLE
//LANGUAGE LANG_ENGLISH, 1
BEGIN
  MENUITEM " ", 40052
  MENUITEM " ", 40053
END

// 1 popup menu and 1 menu item
105 MENU
MOVEABLE PURE LOADONCALL DISCARDABLE
//LANGUAGE LANG_ENGLISH, 1
BEGIN
  MENUITEM " ", 40052
  POPUP " "
  BEGIN
    MENUITEM " ", 40032
  END
END

// 1 popup menu and 1 menu item
106 MENU
MOVEABLE PURE LOADONCALL DISCARDABLE
//LANGUAGE LANG_ENGLISH, 1
BEGIN
  POPUP " "
  BEGIN
    MENUITEM " ", 40033
  END
  MENUITEM " ", 40053
END

// 2 popupmenu items
107 MENU
MOVEABLE PURE LOADONCALL DISCARDABLE
//LANGUAGE LANG_ENGLISH, 1
BEGIN
  POPUP " "
  BEGIN
    MENUITEM " ", 40035
  END
  POPUP " "
  BEGIN
    MENUITEM " ", 40034
  END
END

/* 101 RCDATA
MOVEABLE PURE LOADONCALL DISCARDABLE
LANGUAGE LANG_ENGLISH, 1
BEGIN
'65 00 02 00 FE FF 74 9C 04 00 10 00 65 9C 00 00 '
'FF FF FE FF 75 9C 04 00 10 00 65 9C 00 00 FF FF '
END


105 RCDATA
MOVEABLE PURE LOADONCALL DISCARDABLE
LANGUAGE LANG_ENGLISH, 1
BEGIN
'69 00 02 00 FE FF 74 9C 04 00 10 00 65 9C 00 00 '
'FF FF FE FF 75 9C 04 00 18 00 65 9C 00 00 01 00 '
END


106 RCDATA
MOVEABLE PURE LOADONCALL DISCARDABLE
//LANGUAGE LANG_ENGLISH, 1
BEGIN
'6A 00 02 00 FE FF 74 9C 04 00 18 00 65 9C 00 00 '
'00 00 FE FF 75 9C 04 00 10 00 65 9C 00 00 FF FF '
END


107 RCDATA
MOVEABLE PURE LOADONCALL DISCARDABLE
LANGUAGE LANG_ENGLISH, 1
BEGIN
'6B 00 02 00 FE FF 74 9C 04 00 18 00 65 9C 00 00 '
'00 00 FE FF 75 9C 04 00 18 00 65 9C 00 00 01 00 '
END
*/
//*****************************************************
// Uncomment the line below to run application in real VGA mode
// HI_RES_AWARE CEUX {1}
//*****************************************************

