Package: fpc
Version: FPCVERSION
Section: devel
Priority: optional
Maintainer: Mattias Gaertner <mattias@cvs.freepascal.org>
Architecture: ARCH 
Pre-Depends: binutils
Replaces: fp-compiler, fp-utils, fp-ide, fp-units-rtl, fp-units-base, fp-units-fcl, fp-units-fv, fp-units-gtk, fp-units-gtk2, fp-units-gnome1, fp-units-db, fp-units-gfx, fp-units-net, fp-units-misc
Description: Free Pascal Compiler
 Freepascal is a free 32/64bit Pascal Compiler. It comes with a
 run-time library fully compatible with Turbo Pascal 7.0 and nearly
 Delphi compatible. Some extensions are added to the language, like
 function overloading. Shared libraries can be linked. This package
 contains commandline compiler and utils. Provided units are the
 runtime library (RTL), free component library (FCL) and bindings
 for among others gtk1, gtk2, ncurses, zlib, mysql, postgres and
 ibase.

