Package: lazarus
Version: LAZVERSION
Section: devel
Priority: optional
Maintainer: Mattias Gaertner <mattias@freepascal.org>
Architecture: i386
Depends: fpc (>=FPCVERSION), fpc-src (>=FPCVERSION), libgdk-pixbuf-devel (>=0.17.0), libgtk1.2-dev
Description: RAD tool for freepascal
  Lazarus is a free and opensource RAD tool for FreePascal using the
  Lazarus component library LCL. The LCL is included in this package too.
  See http://www.lazarus.freepascal.org
  
