#define DS_3DLOOK           0x0004L
#define DS_CONTROL          0x0400L

#define WS_CHILD            0x40000000L
#define WS_VISIBLE          0x10000000L
#define WS_CLIPSIBLINGS     0x04000000L
#define WS_GROUP            0x00020000L

LAZ_PIC_DIALOG_TEMPLATE DIALOG 0, 0, 300, 145
STYLE DS_3DLOOK | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS 
LANGUAGE 0, 0
{
  CONTROL "", 1119, "STATIC", WS_CHILD | WS_GROUP | WS_VISIBLE, 0, 0, 200, 145
}