//This is a sample config for the test
//
//This file contains the list of all fpc that should be tested
//Entries start with a line in [] brackets, giving a name that is
//displayed by the test.
//There must be an entry starting with exe=
//The symbols= line specifies, with which debug info this fpc should be tested.

[fpc 2.6.2]
exe=C:\lazarus\fpc\2.6.2\bin\i386-win32\fpc.exe
symbols=gw,gwset

[fpc 2.6.2 external linker]
exe=C:\lazarus\fpc\2.6.2\bin\i386-win32\fpc.exe
symbols=gw,gwset
opts=-Xe

//[fpc trunk]
//exe=c:\FPC\trunk\bin\i386-win32\fpc.exe
//symbols=gw,gwset

