Source: lazarus
Section: devel
Priority: optional
Maintainer: Carlos Laviola <claviola@debian.org>
Uploaders: Torsten Werner <twerner@debian.org>, Mazen Neifer <mazen@freepascal.org>
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 7), quilt, fpc (>= 2.2.4-3), fpc-source (>= 2.2.4-3), 
 fp-utils, imagemagick
Vcs-Svn: https://bollin.googlecode.com/svn/lazarus/trunk
Vcs-Browser: http://bollin.googlecode.com/svn/lazarus/trunk
Homepage: http://www.lazarus.freepascal.org

Package: lazarus
Architecture: all
Pre-Depends: dpkg (>= 1.10.24)
Depends: lazarus-ide (= ${source:Version}), lazarus-src (= ${source:Version}),
 lazarus-doc (>= ${source:Upstream-Version})
Recommends: fpc, fpc-source
Suggests: fp-utils, fp-docs
Description: Lazarus - IDE for Free Pascal to create (graphical and console) applications
 Lazarus is an IDE to create (graphical and console) applications with Free
 Pascal. Free Pascal is a (L)GPL'ed Pascal and Object Pascal compiler that runs
 on Windows, Linux, Mac OS X, FreeBSD and more.
 .
 Lazarus is the missing part of the puzzle that will allow you to develop
 programs for all of the above platforms in a Delphi like environment.
 The IDE is a RAD tool that includes a form designer.
 .
 Unlike Java's "write once, run anywhere" motto, Lazarus and Free Pascal
 strive for "write once, compile anywhere". Since the exact same compiler
 is available on all of the above platforms you don't need to do any recoding
 to produce identical products for different platforms.
 .
 In short, Lazarus is a free RAD tool for Free Pascal using its Lazarus 
 Component Library (LCL).
 .
 This is a metapackage depending on all packages need to have a typical
 Lazarus installation.
 .
 Official: http://sourceforge.net/projects/lazarus/
 .
 Tutorials: http://lazarus-ccr.sourceforge.net


Package: lazarus-src
Section: devel
Architecture: all
Pre-Depends: dpkg (>= 1.10.24)
Description: IDE to create (graphical and console) applications with Free
 Pascal. Free Pascal is a (L)GPL'ed Pascal and Object Pascal compiler that runs
 on Windows, Linux, Mac OS X, FreeBSD and more.
 .
 Lazarus is the missing part of the puzzle that will allow you to develop
 programs for all of the above platforms in a Delphi like environment.
 The IDE is a RAD tool that includes a form designer.
 .
 Unlike Java's "write once, run anywhere" motto, Lazarus and Free Pascal
 strive for "write once, compile anywhere". Since the exact same compiler
 is available on all of the above platforms you don't need to do any recoding
 to produce identical products for different platforms.
 .
 In short, Lazarus is a free RAD tool for Free Pascal using its Lazarus 
 Component Library (LCL).
 .
 This package contains lazarus source code necessary for the IDE code tool to
 run (retrieving declarations and navigating in code).

Package: lazarus-ide
Architecture: i386 powerpc sparc amd64 arm
Pre-Depends: dpkg (>= 1.10.24)
Depends: ${shlibs:Depends}, fp-compiler (>= 2.2.4-3), fp-units-base,
 fp-units-rtl, fp-units-fcl, fp-units-gtk2,
 ${fpc-abi:Depends}, lazarus-src
Recommends: fpc, gdb
Suggests: fp-utils
Description: IDE to create (graphical and console) applications  with Free
 Pascal. Free Pascal is a (L)GPL'ed Pascal and Object Pascal compiler that runs
 on Windows, Linux, Mac OS X, FreeBSD and more.
 .
 Lazarus is the missing part of the puzzle that will allow you to develop
 programs for all of the above platforms in a Delphi like environment.
 The IDE is a RAD tool that includes a form designer.
 .
 Unlike Java's "write once, run anywhere" motto, Lazarus and Free Pascal
 strive for "write once, compile anywhere". Since the exact same compiler
 is available on all of the above platforms you don't need to do any recoding
 to produce identical products for different platforms.
 .
 In short, Lazarus is a free RAD tool for Free Pascal using its Lazarus 
 Component Library (LCL).
 .
 This package contains the lazarus IDE, LCL and components.

Package: lazarus-doc
Section: doc
Architecture: all
Description: IDE to create (graphical and console) applications with Free
 Pascal. Free Pascal is a (L)GPL'ed Pascal and Object Pascal compiler that runs
 on Windows, Linux, Mac OS X, FreeBSD and more.
 .
 Lazarus is the missing part of the puzzle that will allow you to develop
 programs for all of the above platforms in a Delphi like environment.
 The IDE is a RAD tool that includes a form designer.
 .
 Unlike Java's "write once, run anywhere" motto, Lazarus and Free Pascal
 strive for "write once, compile anywhere". Since the exact same compiler
 is available on all of the above platforms you don't need to do any recoding
 to produce identical products for different platforms.
 .
 In short, Lazarus is a free RAD tool for Free Pascal using its Lazarus 
 Component Library (LCL).
 .
 This package contain documentation of the lazarus IDE and components. It can
 be viewed separately with any HTML browser or used by the IDE to as an
 integrated help (pressing <F1> on any LCL identifier will browse the help of
 that identifier).
