#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

LAZDEBDIR = $(CURDIR)/debian/lazarus

ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	find -name 'Makefile.fpc' | xargs fpcmake
	touch configure-stamp

build: patch build-stamp

build-stamp: configure-stamp 
	dh_testdir
	$(MAKE) USESVN2REVISIONINC=0 FPC=fpc
	touch build-stamp

clean: clean-patched unpatch

clean-patched:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp lazbuild debian/*.ex debian/files
	$(MAKE) distclean
	dh_clean 

patch: patch-stamp

patch-stamp:
	#dpatch apply-all
	touch patch-stamp

unpatch:
	#dpatch deapply-all
	rm -rf patch-stamp debian/patched

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	# copy lazarus to /usr/share
	install -d $(LAZDEBDIR)/usr/lib/lazarus
	install -d $(LAZDEBDIR)/usr/bin
	sh $(CURDIR)/debian/move-usr-lib.sh $(LAZDEBDIR)
	# copy icons and menu entries for the GNOME menu
	install -d $(LAZDEBDIR)/usr/share/pixmaps
	install -d $(LAZDEBDIR)/usr/share/applications
	install -d $(LAZDEBDIR)/usr/bin
	convert -geometry 32x32 $(CURDIR)/images/ide_icon48x48.png $(LAZDEBDIR)/usr/share/pixmaps/lazarus.xpm
	chmod 644 $(LAZDEBDIR)/usr/share/pixmaps/lazarus.xpm
	install -m 644 $(CURDIR)/install/lazarus.desktop $(LAZDEBDIR)/usr/share/applications/lazarus.desktop

# Build architecture-independent files here.
binary-indep: build install

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_link
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_installmenu
	dh_installman
	fpc-depends
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb -- -Z bzip2

get-orig-source:
	-uscan --upstream-version=0 --rename

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
