[Desktop Entry]
Name=Lazarus
Name[az]=Lazarus
Name[ca]=Lazarus
Name[cs]=Lazarus
Name[da]=Lazarus
Name[de]=Lazarus
Name[el]=Lazarus
Name[es]=Lazarus
Name[fr]=Lazarus
Name[ga]=Lazarus
Name[hu]=Lazarus
Name[it]=Lazarus
Name[ja]=Lazarus
Name[ko]=Lazarus
Name[lv]=Lazarus
Name[nl]=Lazarus
Name[nn]=Lazarus
Name[no]=Lazarus
Name[pl]=Lazarus
Name[pt]=Lazarus
Name[pt_BR]=Lazarus
Name[ro]=Lazarus
Name[ru]=Lazarus
Name[sk]=Lazarus
Name[sv]=Lazarus
Name[tr]=Lazarus
Name[uk]=Lazarus
Name[zh_CN]=Lazarus
Comment=Lazarus IDE
Exec=lazarus
Terminal=0
Type=Application
Icon=lazarus.png
