[Desktop Entry]
Name=Lazarus
Comment=Lazarus IDE
Exec=startlazarus %f
Terminal=0
Type=Application
Icon=lazarus.png
Encoding=UTF-8
Categories=IDE;Development;X-Red-Hat-Base;Application;
StartupWMClass=Lazarus
MimeType=text/x-pascal;

