[Desktop Entry]
Name=Lazarus
Comment=Lazarus IDE
Exec=startlazarus %f
Terminal=false
Type=Application
Icon=lazarus.png
Encoding=UTF-8
Categories=Application;IDE;Development;Programming;
StartupWMClass=Lazarus
MimeType=text/x-pascal;

