<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta http-equiv="content-type"
 content="text/html; charset=ISO-8859-1">
  <title>Test Page for IPro HTML control for Lazarus</title>
</head>
<body>
<p>Lazarus example for IPro HTML control.<br>
  <br>
Image ../../../docs/images/laztitle.png
<br>
<img src="../../../docs/images/laztitle.png" title="" alt="laztitle.png image"
 style="width: 740px; height: 100px;"><br>
<br>
Image ../../docs/images/doesnotexist.jpg
<br>
<img src="../../docs/images/doesnotexist.jpg" title="" alt="doesnotexist.jpg image"
 style="width: 250px; height: 188px;"><br>
<br>
<a href="simplepage2.html">Link</a> (to simplepage2.html)</p>
<p><strong>Amo</strong><br>
  <a href="simplepage2.html#morala">Amo kiel morala nocio</a><br>
  <a href="simplepage2.html#metafizika">Amo kiel metafizika nocio</a></p>
<h2></h2>
<p><br>
</p>
</body>
</html>
